128                     BITMAP  DISCARDABLE     "images\\gui.bmp"
129                     BITMAP  DISCARDABLE     "images\\tab.bmp"
130                     BITMAP  DISCARDABLE     "images\\reset.bmp"
131                     BITMAP  DISCARDABLE     "images\\midi.bmp"
132                     BITMAP  DISCARDABLE     "images\\small\\gui.bmp"
133                     BITMAP  DISCARDABLE     "images\\switch.bmp"
134                     BITMAP  DISCARDABLE     "images\\small\\knob_small.bmp"
135                     BITMAP  DISCARDABLE     "images\\small\\hslider.bmp"
136                     BITMAP  DISCARDABLE     "images\\small\\hslider_handle.bmp"
137                     BITMAP  DISCARDABLE     "images\\small\\vslider.bmp"
138                     BITMAP  DISCARDABLE     "images\\small\\vslider_handle.bmp"
139                     BITMAP  DISCARDABLE     "images\\small\\led.bmp"
140                     BITMAP  DISCARDABLE     "images\\small\\menu.bmp"
141                     BITMAP  DISCARDABLE     "images\\small\\menu2.bmp"
142                     BITMAP  DISCARDABLE     "images\\small\\textbox.bmp"
143                     BITMAP  DISCARDABLE     "images\\small\\xypad.bmp"
144                     BITMAP  DISCARDABLE     "images\\small\\button.bmp"
145                     BITMAP  DISCARDABLE     "images\\small\\vu_on.bmp"
146                     BITMAP  DISCARDABLE     "images\\small\\vu_off.bmp"
